<section id="rent-yacht" class="retn-a-yacht">
  <div class="container form-container">
    <div>
      <h2 class="yacht-title">Rent a yacht now</h2>
      <form class="input-form">
        <div class="input-contact">
          <label for="user-name" class="input-label"></label>
          <input
            type="text"
            class="yacht-input"
            name="user-name"
            id="user-name"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="input-contact">
          <label for="user-email" class="input-label"></label>
          <input
            type="email"
            class="yacht-input"
            name="user-email"
            id="user-email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})"
          />
        </div>
        <div class="input-contact">
          <label for="user-phone-number" class="input-label"></label>
          <input
            type="tel"
            class="yacht-input"
            name="user-phone-number"
            id="user-phone-number"
            placeholder="Phone number"
            required
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          />
        </div>
        <div class="input-contact">
          <label for="user-comment" class="input-label"></label>
          <textarea
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            class="yacht-input input-contact-com"
          ></textarea>
        </div>
        <button class="btn-form" type="submit">Send</button>
      </form>
    </div>

    <div class="yacht-img-rent">
      <picture>
        <source
          media="(min-width: 1158px)"
          srcset="
            /img/rent-yacht/rent-yacht-desk@1x.jpg 1x,
            /img/rent-yacht/rent-yacht-desk@2x.jpg 2x
          "
          width="658"
          height="536"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/rent-yacht/rent-yacht-tab@1x.jpg 1x,
            /img/rent-yacht/rent-yacht-tab@2x.jpg 2x
          "
          width="704"
          height="534"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/rent-yacht/rent-yacht-mob@1x.jpg 1x,
            /img/rent-yacht/rent-yacht-mob@2x.jpg 2x
          "
          width="355"
          height="412"
        />
        <img
          src="/img/rent-yacht/rent-yacht-mob@1x.jpg"
          alt="Rent a yacht"
          width="355"
          height="412"
        />
      </picture>
    </div>
  </div>
</section>
