.about-us {
  padding-bottom: 80px;
}
.container-about-us {
  border-radius: 24px;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
.main-box {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding-top: 40px;
}
.top-box {
  padding: 0 20px;
}
.about-us-title {
  color: #1b414b;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  margin-top: 0;
}
.content-block-about-us {
  max-width: 295px;
  margin-bottom: 40px;
}
.head-content-about-us {
  color: #1b414b;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  margin-top: 0;
}
.text-content-about-us {
  color: #040306;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
  display: block;
}
.image-box {
  top: 380px;
  border-radius: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
@media screen and (max-width: 374px) {
  .about-us-title {
    max-width: 100%px;
  }
  .image-box {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .about-us {
    padding-bottom: 150px;
  }
  .container-about-us {
    min-width: 768px;
    padding: 0 32px;
  }
  .main-box {
    display: flex;
    flex-direction: column;
  }
  .top-box {
    padding: 0 32px;
  }
  .about-us-title {
    font-size: 48px;
    margin-bottom: 50px;
    width: 536px;
  }
  .content-block-about-us {
    max-width: none;
    width: 389px;
  }
  .head-content-about-us {
    font-size: 23px;
    width: 370px;
  }
  .text-content-about-us {
    font-size: 13px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .container-about-us {
    min-width: 1280px;
    padding: 0 50px;
  }
  .main-box {
    display: block;
    padding-top: 50px;
  }
  .top-box {
    padding: 0 50px;
    display: flex;
    gap: 189px;
  }
  .about-us-title {
    font-size: 48px;
    margin-bottom: 50px;
    width: 536px;
  }
  .content-block-about-us {
    width: 354px;
  }
  .head-content-about-us {
    width: 335px;
  }
  .text-content-about-us {
    width: 350px;
  }
}
