.end-page {
    padding-left: 10px;
    padding-right: 10px;
}


.foot {
    background-color: #1b414b;
    border-radius: 24px 24px 0 0;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    max-width: 355px;
}


.block-one {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.logo-footer {
    display: flex;
    align-items: flex-start;

}


.logo-end {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
    max-width: 52px;
    max-height: 18px;
    text-decoration: none;
}

.navigation-links {
    margin-left: 0;
    width: 100%;
    justify-content: center;
}

.nav-footer-list {
    display: flex;
    gap: 4px;
    padding: 0;
    list-style: none;
    margin-left: 37px;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 40px;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    background: rgba(251, 251, 251, 0.3);
}

.link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    text-decoration: none;
}

.nav-list:hover,
.nav-list:focus {
    background: #fbfbfb;
}

.nav-list:hover .link,
.nav-list:focus .link {
    color: #1b414b;
}


.footer-icon {
    list-style: none;
}

.footer-svg {
    fill: #fbfbfb;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.social-icons-block {
    display: flex;
    justify-content: center;
    gap: 8px;
    max-width: 88px;
    margin-bottom: 40px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 82px;
}

.text-footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    width: 279px;
    max-width: 100%;

}

.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}

.bottom-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}

.bottom-pp {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}



@media only screen and (min-width: 768px) {
    .end-page {
        padding-left: 16px;
        padding-right: 16px;
    }

    .foot {
        padding-top: 50px;
        padding-left: 48px;
        padding-right: 48px;
        margin: 0 auto;
        min-width: 736px;
        height: 418px;
    }

    .block-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 96px;
    }

    .logo-footer {
        display: flex;
        align-items: flex-start;
        width: 70px;
    }

    .nav-footer-list {
        gap: 4px;
        margin-left: 0;
    }

    .navigation-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 110px;
        width: 281px;
    }

    .social-icons {
        display: flex;
        justify-content: flex-end;
        width: 88px;
        margin-top: 0;
    }

    .social-icons-block {
        margin-bottom: 0;
    }

    .logo-end {
        font-size: 20px;
        max-width: 70px;
        max-height: 24px;
    }

    .nav-list {
        width: 91px;
        max-width: 91px;
    }

    .block-one {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

    }


    .text {
        height: 96px;
        margin-bottom: 99px;
    }



    .text-footer {
        font-size: 32px;
        width: 640px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .bottom-text {
        font-size: 14px;
        width: 168px;
        white-space: nowrap;

    }

    .bottom-pp {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1280px) {
    .end-page {
        padding-left: 25px;
        padding-right: 25px;
    }

    .foot {
        padding-top: 50px;
        padding-left: 75px;
        padding-right: 75px;
        margin: 0 auto;
        min-width: 1230px;
        height: 418px;
    }

    .header-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .logo-footer {
        margin-right: 330px;
    }

    .navigation-links {
        flex-grow: 1;
        margin-left: 330px;
        display: flex;
        justify-content: center;
    }

    .social-icons {
        margin-left: 311px;
    }

    .text {
        margin-bottom: 99px;
    }

    .text-footer {
        width: 693px;
        max-width: 100%;
    }

}