.yacht-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.yacht-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: rgba(251, 251, 251, 0.4);
  background: #0e1823;
  border: none;
}
.btn-form {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  margin-bottom: 80px;
}
.input-contact {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 261px 14px 18px;
  width: 335px;
  height: 42px;
  margin-bottom: 18px;
}
.yacht-form {
  width: 335px;
  height: 288px;
  margin-bottom: 40px;
}
.input-contact-com {
  height: 108px;
}
