.reviews {
  width: 335px;
  margin: 0 auto 80px;
}
.reviews-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 335px;
  margin: 0 auto 25px;
}
.reviews-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  margin: 0 auto 40px;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  width: 335px;
}
.reviews-box {
  width: 100%;
  padding-inline: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 282px;
  margin: 0 auto;
}

.reviews-list {
  display: flex;
  gap: 32px;
  transition: transform 0.3s ease;
  will-change: transform;
  box-sizing: border-box;
}

.reviews-item {
  padding: 32px 8px;
  border-radius: 24px;
  background: #fbfbfb;
  box-sizing: border-box;
  margin-bottom: 50px;
  flex: 0 0 100%;
  max-width: 100%;
}

.reviews-photo {
  margin: 0 auto 24px;
  width: 56px;
  height: 56px;
  border-radius: 72px;
}
.reviews-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin: 0 auto 8px;
}
.reviews-item .reviews-desc {
  width: 303px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
@media screen and (min-width: 768px) {
  .reviews {
    width: 704px;
    margin: 0 auto 150px;
  }
  .reviews-subtitle {
    width: 704px;
    font-size: 48px;
  }
  .reviews-desc {
    width: 704px;
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 75px;
  }
  .reviews-box {
    width: 704px;
  }
  .reviews-list {
    gap: 32px;
  }
  .reviews-item {
      flex: 0 0 336px;
      max-width: 336px;
  }
  
}
@media screen and (min-width: 1280px) {
  .reviews {
    width: 1180px;
  }
  .reviews-subtitle {
    width: 854px;
  }
  .reviews-box {
    width: 1180px;
  }
  .reviews-item {
    flex: 0 0 376px;
    max-width: 376px;
  }

  .reviews-list {
    gap: 26px;
  }
}
